<div id="<%= dom_id comentario %>">
  <p>
    <strong>Comentario:</strong>
    <%= comentario.comentario %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comentario.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comentario.post_id %>
  </p>

</div>
